<div style="text-align:center">
  <h2>
    Welcome to Buddhika's {{ title }}!
  </h2>
</div>
<div class="container-panel">
  <div>
  </div>
  <div class="outer-panel">
    <div class="display-panel">
      <div class="display-view">
        <span [ngStyle]="{'display:': displayBoard !== null}">{{display()}}</span>
      </div>
    </div>
    <div class="button-panel">
      <div class="number-panel">
        <ng-container *ngFor="let numberKey of nonOperationalKeys">
          <button value="{{numberKey.name}}" (click)="onNumberButtonClick(numberKey.value)"
                  class="number-key num align">
            {{numberKey.value}}
          </button>
        </ng-container>
      </div>
      <div class="operation-panel">
        <ng-container *ngFor="let operationalKey of operationalKeys">
          <button value="{{operationalKey.displayName}}" (click)="onOperationalButtonClick(operationalKey.handler)"
                  class="operation-key value align operator">
            {{operationalKey.displayName}}
          </button>
        </ng-container>
        <ng-container *ngFor="let controlKey of controlKeys">
          <button value="{{controlKey.value}}" (click)="onControlButtonClick(controlKey.value)"
                  class="control-key value align operator">
            {{controlKey.name}}
          </button>
        </ng-container>
      </div>
    </div>
  </div>
  <div></div>
</div>

